html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  background-color: #141414;
  height: 70px;
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  background: linear-gradient(to right, #141414 75%, #302444 100%);
}

nav {
  width: fit-content;
  display: flex;
  justify-content: space-around;
  gap: 30px;
  margin: 20px;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
}


.toolbar {
  background: linear-gradient(to right, #141414, #302444);
  height: 100%;
  width: 400px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  border-left: #363358 2px solid;
  box-shadow: #141414 0px 0px 5px;
}

.tool-task{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border: #514f68 solid 1px;
  background-color: #1c1b20;

}

.tool-title {
  color: #ededed;
  margin-left: 10px;
}

.tool-task-btn{
  
  display: flex;
  justify-content: center;
}

.tool-task-btn>img{
  width: 20px;
  height: 20px;
  border-left:#514f68 solid 1px;
  padding: 10px;
  cursor: pointer;
}
.tabs {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.tab-btn {
  width: 100px;
  height: 30px;
  border-radius: 15px 15px 0px 0px;
  background-color: #ededed12;
  color: #6e64d9;
  border: none;
}

.tab-btn-clicked {
  width: 100px;
  height: 30px;
  border-radius: 15px 15px 0px 0px;
  border-bottom: none;
  background-color: #6e64d9;
  color: #ededed;
}

.widgets-container {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  height: 100%;
  box-shadow: #ededed12 0px 10px 10px;
  background-color: #ededed12;
  transform: translateX(0%);
  transition: all 0.5s ease-in-out;
}

.widget-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.settings-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  box-shadow: #ededed12 0px 10px 10px;
  background-color: #ededed12;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  transform: translateX(0%);
  transition: all 0.5s ease-in-out;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 100px;
}



.setting-line {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 20px;
  padding-top: 40px;
  color: #ededed;
  position: relative;
}

.line>p, .setting-line>p{
  position: absolute;
  width: 100%;
  margin:0;
  padding: 15px;
  padding-left: 30px;
  top: 0;
  left: 0px;
  font-size: 10px;
  background-color: #1c1b20;
}

.line{
  border-bottom: #514f68 2px solid;
  width: 98%;
  display: flex;
  font-size: 10px;
  justify-content: space-between;
  align-items: center;
}

.line>span{
  padding-left: 20px;
}

label {
  border-bottom: none;
  width: 100%;
  font-size: 16px;
  margin: 10px;
}

.select {
  width: fit-content;
  height: fit-content;
  outline: none;
  background-color: #1c1b20;
  border: #533e74 solid 1px;
  color: #ededed;
  border-radius: 3px;
  margin: 10px;
  padding: 3px;
  font-size: 10px;
}

.widget {
  width: 100px;
  height: 100px;
  border: #ededed 2px solid;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.widget>img{
  width: 40px;
  height: auto;
  margin-top: 20px;
}
.widget>p{
  color: #ebebeb;
}

.widget:hover {
  box-shadow: #ededed 0px 0px 3px;
  scale: 1.1;
  cursor: grab;
  background-color: #6e64d9;
}
.email-modal{
  width: 100vw;
  height: 100vh;
  background-color: #14141485;
  position: absolute;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-hidden{
  display: none;
}

.email{
  display: flex;
  justify-content: space-around;
  width: 100%;
  
}

.modal{
  width: 300px;
  height: 50px;
  padding: 50px;
  background-color: #141414;
  color: #ebebeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #59427d solid 3px;
  box-shadow: #141414 0px 0px 5px;
  gap: 10px;
  border-radius: 5px;
  position: relative;
}

.email>button{
  border: none;
  position: absolute;
  right: 10px;
  top: 10px;
}

.modal>div>input{
  margin-top: 20px;
  width: 200px;
  height: 36px;
  background-color: #302444;
  border: #5e4784 1px solid;
  color: white;
}
.modal>div>button{
  border-radius: 5px;
  margin-left: 10px;
  height: 42px;
  position: absolute;
  bottom: 25px;
  right: 40px
}

.canvas {
  background-image: url("./canvasbg.png");
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 100px;
}

.content {
  background-color: rgb(243, 240, 240);
  width: 95%;
  height: 100%;
  margin: 10px;
  border-radius: 2px;
  border: #141414 solid 1px;
  box-shadow: 0px 0px 5px black;
  padding: 20px;
  position: relative;
  margin-bottom: 100px;
}

.demo-content {
  width: 100%;
  height: 20%;
  box-shadow: #70559a 0px 0px 3px;
  border: #70559a 1px solid;
  border-radius: 1px;
  padding: 3px;
  position: relative;
}
.trapezoid {
  border-bottom: 20px solid #70559a;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  height: 0;
  width: 60px;
  position: absolute;
  top: -20px;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: start;
}

.trapezoid > img {
  width: 15px;
  height: 15px;
  transform: translateY(20%);
}

.demo-content-in {
  border: dotted 1px black;
  width: 100%;
  height: 100%;
}

.content-footer {
  width: 100%;
  height: 100px;
  background-color: #ededed;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: #6e64d9 2px solid;
  left: 0;

}

.navigation-btn {
  width: fit-content;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #363358;
  border-radius: 3px;
  position: absolute;
  left: 20px;
  bottom: 20px;
  box-shadow: #141414 0px 0px 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.navi-btn > img,
.navi-btn-last > img {
  width: 18px;
  height: 18px;
}

.navi-btn {
  height: 65%;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  padding-right: 10px;
  gap: 5px;
  border-right: #7e7d7d 1px solid;
  transition: all 0.5s ease;
  
}

.navi-btn-last {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 10px;
  transition: all 0.5s ease;

}

.navi-btn > img:hover,
.navi-btn-last > img:hover {
  scale: 1.1;
  transition: all 0.5s ease;
}

.column-container {
  display: flex;
  transform: translateY(0%);
  transition: all 0.2s ease;
}

.column-container-hidden {
  display: flex;
  position: absolute;
  transform: translateY(400%);
  transition: all 0.2s ease;
}

.first {
  width: 85px;
  height: 85px;
  display: flex;
  justify-content: center;
  gap: 2px;
  align-items: center;
  margin-left: 20px;
}

.first:hover {
  background-color: #6e64d9;
  transition: all 0.3s ease;
}

.first-content {
  border: #5d4584 2px solid;
  width: 100%;
  height: 100%;
}

.plus-btn {
  color: #6e64d9;
  width: 60px;
  height: 60px;
  font-size: 30px;
  font-weight: 900;
  border-radius: 50%;
  color: #6e64d9;
  border: #6e64d9 5px solid;
  background-color: #14141400;
  transition: all 0.2s ease-in-out;
}

.plus-btn-hidden {
  display: none;
}

.nav-btn {
  width: fit-content;
  padding: 10px;
  border-radius: 20px;
  border: #6e64d9 2px solid;
  background-color: #141414;
  color: #6e64d9;
}

.nav-close {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: #6e64d9 2px solid;
  background-color: #141414;
  color: #6e64d9;
  font-weight: 900;
  transition: all 0.2s ease-in-out;
}

.nav-btn:hover,
.nav-close:hover,
.plus-btn:hover,
.tab-btn:hover {
  box-shadow: #6e64d9 0px 0px 5px;
  transition: all 0.2s ease-in-out;
  background-color: #6e64d9;
  color: white
}

.container-hidden {
  box-sizing: border-box;
  padding: 20px;
  width: 310px;
  height: fit-content;
  box-shadow: #ededed12 0px 10px 10px;
  background-color: #ededed12;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  transform: translateX(200%);
  transition: all 1s ease-in-out;
  position: absolute;
  top: 120px;
}

.textarea{
  background-color: #1c1b20;
  resize: none;
  border: #302444 2px solid;
  border-radius: 5px;
  outline: 2px solid #504e5b;
  color: #ebebeb;
}


.btn-group button {
  background-color: #533e74;
  border: 1px solid #1c1b20;
  color: white;
  padding: 5px;
  cursor: pointer;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-start{
  border-radius: 5px 0px 0px 5px;
}

.btn-group button:not(:last-child) {
  border-right: none;
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:hover {
  background-color: #1c1b20;
}

.btn-group>button>img{
  width: 15px;
  height: 15px;
}
.btn-group{
  margin: 5px
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #363358; 
}
::-webkit-scrollbar-thumb {
  background: #613c84; 
}


/*Switch*/

.toggle {
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
}
.toggle-switch {
  display: inline-block;
  background: #514f68;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch:before, .toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #dec5e5 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #edc8f8, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
  background: #662d77;
}
.toggle-checkbox:checked + .toggle-switch:before {
  left: 30px;
}
.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}
.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}

/*custom textinput*/

.send{
  width: 250px;
  display: flex;
  gap: 80px
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}
.form__field {
  font-family: inherit;
  width: 180px;
  height: 25px;
  border: #59427d 2px solid;
  border-radius: 3px;
  outline: 0;
  font-size: 10px;
  color: #fff;
  padding: 7px 10px;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 10px;
  cursor: text;
  top: 20px;
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 5px;
  color: #9b9b9b;
}
.form__field:focus {
  padding-bottom: 8px;
  border: #59427d 2px solid;
  border-radius: 3px;
  background-color: #212035;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 5px;
  display: block;
  transition: 0.2s;
  font-size: 10px;
  color: #9b9b9b;
}

/*Értesítés Toast*/
#toast {
  visibility: hidden;
  max-width: 350px;
  height: 50px;
  /*margin-left: -125px;*/
  margin: auto;
  background-color: #5e4784;
  color: #fff;
  text-align: center;
  border-radius: 2px;

  position: fixed;
  z-index: 1;
  left: 0;right:0;
  top: 30px;
  font-size: 17px;
  white-space: nowrap;
}
#toast #img{
width: 350px;
height: 50px;
  
  float: left;
  
  padding-top: 16px;
  padding-bottom: 16px;
  
  box-sizing: border-box;

  
  background-color: #5d4584;
  color: #fff;
}
#toast #desc{

  
  color: #fff;
 
  padding: 16px;
  
  overflow: hidden;
white-space: nowrap;
}

#toast.show {
  visibility: visible;
  animation: fadein 0.5s,stay 3s 1s;
}

@keyframes fadein {
  from {min-width: 350px; top: 0; opacity: 0;}
  to {min-width: 350px; top: 30px; opacity: 1;}
}

@keyframes expand {
  from {min-width: 350px}
  to {min-width: 350px}
}

@keyframes stay {
  from {min-width: 350px}
  to {min-width: 350px}
}

@keyframes shrink {
  from {min-width: 350px;} 
  to {min-width: 350px;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 60px; opacity: 0;}
}

.picture-hidden{
  display: none;
}
.picture{
  width: 90%;
  height: 90%;
  background-color: #3b2645;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: #141414 0px 0px 30px;
  border-radius: 3px;
  border: #141414 2px solid;
}

.pic-btn-con{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: left;
  align-items: end;
  gap: 10px;
  margin-left: 20px;
}

.pic-btn1{
  border: none;
  background-color: #231729;
  padding: 20px;
  color: #ebebeb;
  border-radius: 5px 5px 0px 0px;
}
.pic-btn2{
  border: none;
  background-color: #5c3f6b;
  padding: 20px;
  color: #ebebeb;
  border-radius: 5px 5px 0px 0px;
}

.pic-container{
  background-color: #231729;
  padding: 30px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  overflow-y: scroll;
}

.pic{
  background-color: #ebebeb;
  width: 100px;
  height: 100px;
}

.custom-select {
  position: relative;
  display: inline-block;
  padding-top: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.selected-option {
  display: block;
  padding: 5px;
  z-index: 20;
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: none;
  background-color: #212035;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 20;
}

.options li {
  padding: 5px;
  cursor: pointer;
}

.options li:hover {
  background-color: #3b2645;
}

.custom-select:hover .options {
  display: block;
  z-index: 20;
  padding-top: 10px;
}

.line-title{
  padding-left: 20px;
}