body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 85.9vh;
  overflow: hidden;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  background-color: #141414;
  height: 70px;
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  background: linear-gradient(to right, #141414 75%, #302444 100%);
}

nav {
  width: fit-content;
  display: flex;
  justify-content: space-around;
  gap: 30px;
  margin: 100px;
}

main {
  width: 100vw;
  height: 90.5vh;
  display: flex;
}


.toolbar {
  background: linear-gradient(to right, #141414, #302444);
  height: 100%;
  width: 400px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  border-left: #363358 2px solid;
  box-shadow: #141414 0px 0px 5px;
}

.tool-task{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border: #514f68 solid 1px;
  background-color: #1c1b20;
}

.tool-title {
  color: #ededed;
}

.tool-task-btn{
  
  display: flex;
  justify-content: center;
}

.tool-task-btn>img{
  width: 20px;
  height: 20px;
  border-left:#514f68 solid 1px;
  padding: 3px;
  cursor: pointer;
}
.tabs {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.tab-btn {
  width: 100px;
  height: 30px;
  border-radius: 15px 15px 0px 0px;
  background-color: #ededed12;
  color: #6e64d9;
  border: none;
}

.tab-btn-clicked {
  width: 100px;
  height: 30px;
  border-radius: 15px 15px 0px 0px;
  border-bottom: none;
  background-color: #6e64d9;
  color: #ededed;
}

.widgets-container {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  height: 100%;
  box-shadow: #ededed12 0px 10px 10px;
  background-color: #ededed12;
  transform: translateX(0%);
  transition: all 0.5s ease-in-out;
}

.widget-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.settings-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  box-shadow: #ededed12 0px 10px 10px;
  background-color: #ededed12;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  transform: translateX(0%);
  transition: all 0.5s ease-in-out;
  overflow-y: scroll;
  overflow-x: hidden;
}



.setting-line {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 20px;
  padding-top: 40px;
  color: #ededed;
  position: relative;
}

.line>p, .setting-line>p{
  position: absolute;
  width: 100%;
  margin:0;
  padding: 15px;
  top: 0;
  left: 0px;
  font-size: 10px;
  background-color: #1c1b20;
}

.line{
  border-bottom: #514f68 2px solid;
  width: 98%;
  display: flex;
  font-size: 10px;
  justify-content: space-between;
  align-items: center;
}

label {
  border-bottom: none;
  width: 100%;
  font-size: 16px;
  margin: 10px;
}

.select {
  width: fit-content;
  height: fit-content;
  outline: none;
  background-color: #1c1b20;
  border: #533e74 solid 1px;
  color: #ededed;
  border-radius: 3px;
  margin: 10px;
  padding: 3px;
  font-size: 10px;
}

.widget {
  width: 100px;
  height: 100px;
  border: #ededed 2px solid;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.widget>img{
  width: 40px;
  height: auto;
  margin-top: 20px;
}
.widget>p{
  color: #ebebeb;
}

.widget:hover {
  box-shadow: #ededed 0px 0px 3px;
  scale: 1.1;
  cursor: grab;
}
.email-modal{
  width: 100vw;
  height: 100vh;
  background-color: #14141485;
  position: absolute;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-hidden{
  display: none;
}

.email{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.modal{
  width: 400px;
  height: 200px;
  background-color: #141414;
  color: #ebebeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #59427d solid 3px;
  box-shadow: #141414 0px 0px 5px;
  gap: 20px;
  border-radius: 5px;
}

.modal>input{
  margin-top: 20px;
  width: 65%;
  height: 25px;
  background-color: #302444;
  border: #5e4784 1px solid;
}

.canvas {
  background-image: url("./canvasbg.png");
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content {
  background-color: rgb(243, 240, 240);
  width: 95%;
  height: 100%;
  margin: 10px;
  border-radius: 2px;
  border: #141414 solid 1px;
  box-shadow: 0px 0px 5px black;
  padding: 20px;
  position: relative;
}

.demo-content {
  width: 100%;
  height: 20%;
  box-shadow: #70559a 0px 0px 3px;
  border: #70559a 1px solid;
  border-radius: 1px;
  padding: 3px;
  position: relative;
}
.trapezoid {
  border-bottom: 15px solid #70559a;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  height: 0;
  width: 40px;
  position: absolute;
  top: -15px;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: start;
}

.trapezoid > img {
  width: 10px;
  height: 10px;
  transform: translateY(15%);
}

.demo-content-in {
  border: dotted 1px black;
  width: 100%;
  height: 100%;
}

.content-footer {
  width: 100%;
  height: 160px;
  background-color: #ededed;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: #6e64d9 2px solid;
  left: 0;

}

.navigation-btn {
  width: fit-content;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #363358;
  border-radius: 3px;
  position: absolute;
  left: 20px;
  bottom: 20px;
  box-shadow: #141414 0px 0px 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.navi-btn > img,
.navi-btn-last > img {
  width: 18px;
  height: auto;
}

.navi-btn {
  height: 65%;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 5px;
  border-right: #7e7d7d 1px solid;
  transition: all 0.5s ease;
}

.navi-btn-last {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 10px;
  transition: all 0.5s ease;
}

.navi-btn > img:hover,
.navi-btn-last > img:hover {
  scale: 1.1;
  transition: all 0.5s ease;
}

.column-container {
  display: flex;
  transform: translateY(0%);
  transition: all 0.2s ease;
}

.column-container-hidden {
  display: flex;
  position: absolute;
  transform: translateY(400%);
  transition: all 0.2s ease;
}

.first {
  width: 85px;
  height: 85px;
  display: flex;
  justify-content: center;
  gap: 2px;
  align-items: center;
  padding: 5px;
  margin-left: 20px;
}

.first:hover {
  border: #302444 1px solid;
  scale: 1.1;
  transition: all 0.3s ease;
}

.first-content {
  border: #5d4584 2px solid;
  width: 100%;
  height: 100%;
}

.plus-btn {
  color: #6e64d9;
  width: 60px;
  height: 60px;
  font-size: 30px;
  font-weight: 900;
  border-radius: 50%;
  color: #6e64d9;
  border: #6e64d9 5px solid;
  background-color: #14141400;
  transition: all 0.2s ease-in-out;
}

.plus-btn-hidden {
  display: none;
}

.nav-btn {
  width: 150px;
  height: 30px;
  border-radius: 15px;
  border: #6e64d9 2px solid;
  background-color: #141414;
  color: #6e64d9;
}

.nav-close {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: #6e64d9 2px solid;
  background-color: #141414;
  color: #6e64d9;
  transition: all 0.2s ease-in-out;
}

.nav-btn:hover,
.nav-close:hover,
.plus-btn:hover,
.tab-btn:hover {
  box-shadow: #6e64d9 0px 0px 5px;
  transition: all 0.2s ease-in-out;
}

.container-hidden {
  box-sizing: border-box;
  padding: 20px;
  width: 310px;
  height: fit-content;
  box-shadow: #ededed12 0px 10px 10px;
  background-color: #ededed12;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;
  position: absolute;
  top: 120px;
}

.textarea{
  background-color: #1c1b20;
  resize: none;
  border: #302444 2px solid;
  border-radius: 5px;
}

.btn-group button {
  background-color: #533e74;
  border: 1px solid #1c1b20;
  color: white;
  padding: 10px;
  cursor: pointer;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-start{
  border-radius: 5px 0px 0px 5px;
}

.btn-group button:not(:last-child) {
  border-right: none;
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:hover {
  background-color: #1c1b20;
}

.btn-group>button>img{
  width: 20px;
  height: 20px;
}
.btn-group{
  margin: 5px
}